<%= turbo_frame_tag "comment_form" do %>
  <% if current_user %>
    <div class="<%= card_class %> border-b dark:border-dark-border">
      <%= render partial: "comments/form", locals: { comment: @comment, post: @post } %>
    </div>
  <% end %>
<% end %>
