<%= turbo_frame_tag "left_sidebar" do %>
  <% if current_user %>
    <li>
      <%= link_to I18n.t("pages.your_profile"), user_path(current_user.username), class: "#{request.path === user_path(current_user.username) ? "font-bold" : ""} #{block_link_class} mb-1", data: { turbo_frame: "_top" } %>
    </li>
    <li>
      <%= link_to I18n.t("pages.settings"), settings_path, class: "#{request.path === settings_path ? "font-bold" : ""} #{block_link_class} mb-1", data: { turbo_frame: "_top" } %>
    </li>
  <% end %>
<% end %>
