<%= turbo_frame_tag "wallpaper" do %>
  <div
    id="wallpaper-url"
    data-background-image="<%= !browser.device.mobile? && !browser.device.tablet? && current_user&.wallpaper_url %>"></div>
  <script>
    document.querySelector('body').style.backgroundImage = `url(${document.querySelector('#wallpaper-url').dataset.backgroundImage})`
    if (localStorage.wallpaper !== document.querySelector('#wallpaper-url').dataset.backgroundImage) {
      localStorage.wallpaper = document.querySelector('body').dataset.backgroundImage
    }
  </script>
<% end %>
