<div class="top-7 right-6 absolute cursor-pointer hidden opacity-50" data-code-block-target='button'>
  <button data-action="code-block#copy" class="text-lg absolute top-0 left-0 w-8 h-8 opacity-50 bg-gray-400 hover:bg-gray-500 rounded-lg transition-all animate-fade-in p-4" >
    <i class="block i-lucide-copy absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></i>
  </button>
</div>
<%= code.html_safe %>
