<div class="top-7 right-6 absolute cursor-pointer hidden opacity-50" data-code-block-target='button'>
  <button data-action="code-block#copy" class="absolute top-0 left-0 w-8 h-8 opacity-50 bg-gray-400 hover:bg-gray-300 rounded-lg transition-all animate-fade-in p-4" >
    <div class="i-lucide-clipboard-copy"></div>
  </button>
</div>
<%= code.html_safe %>
