<div class="top-7 right-6 absolute cursor-pointer hidden" data-code-block-target='button'>
  <button data-action="code-block#copy" class="absolute top-0 left-0 w-8 h-8 opacity-50 bg-gray-400 rounded-full p-4">
    <%= image_tag 'icons/copy.svg', width: "20px", height: "20px", class: "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon not-inline transition-all animate-fade-in" %>
  </button>
</div>
<%= code.html_safe %>
