<div class="top-6 right-4 absolute cursor-pointer hidden" data-code-block-target='button'>
  <button data-action="code-block#copy" class="absolute top-0 left-0 w-10 h-10 opacity-50">
    <%= image_tag 'icons/copy.svg', width: "24px", height: "24px", class: "absolute top-0 left-0 icon not-inline transition-all animate-fade-in" %>
  </button>
</div>
<%= code.html_safe %>
