<div class="top-2 right-4 absolute cursor-pointer">
  <button data-action='click->code-block#copy' class="absolute top-0 left-0 w-10 h-10 opacity-50">
    <%= image_tag 'icons/copy.svg', width: "24px", height: "24px", class: "absolute top-0 left-0 icon not-inline transition-all animate-fade-in hidden group-hover:block" %>
  </button>
</div>
<%= code.html_safe %>
