<div class="flex items-center">
  <span class="dark:hidden">
    <%= image_tag "/logo.png", alt: "logo", width: "200px", height: "50px" %>
  </span>
  <span class="hidden dark:block">
    <%= image_tag "/logo-dark.png", alt: "logo", width: "200px", height: "50px" %>
  </span>
</div>
