<% set_meta_tags(
  title: "Setting",
  og: {
    title: "Setting",
  }
) %>

<div class="grow overflow-visible sm:h-[calc(100vh-55px)] sm:overflow-scroll">
  <%= render partial: "users/settings", locals: { user: @user } %>
</div>
