<% set_meta_tags(
  title: "Setting",
  og: {
    title: "Setting",
  }
) %>

<%= turbo_frame_tag "timeline" do %>
<div class="max-w-3xl w-full mx-auto px-4">
  <%= render partial: "users/settings", locals: { user: @user } %>
</div>
<% end %>
