<% set_meta_tags(
  title: 'About',
) %>


<div class="max-w-[calc(100vw-2rem)] md:max-w-[calc(100%-256px-1rem)] grow">
<h1 class="font-bold text-3xl mb-5">About</h1>
<div class="max-w-3xl mx-auto">
  <div class=" bg-white rounded-lg mb-5 shadow-sm">
    <h1 class="text-center font-bold text-6xl sm:text-9xl">
      <%= image_tag "mainvisual.png", class: "w-full rounded-lg", alt: "Hack Luck." %>
    </h1>
  </div>
  <main class="text-gray-800 leading-7">
    <div class="bg-white px-5 py-10  rounded-lg my-5 shadow-sm">
      <h3 class="text-2xl mb-3 w-full flex items-center font-bold">
        <span class="emoji mr-[2px]">✍️</span>
        <span>Timesyでつぶやく</span>
      </h3>
      <p>
        技術ブログのアイデア出しや、個人開発の分報として使ってもいいですし、日常のことだってもちろんつぶやけます。
        Markdownなので普段使っているSNSよりも表現の幅が広がります。
      </p>
    </div>
    <div class="bg-white px-5 py-10  rounded-lg my-5 shadow-sm">
      <h3 class="text-2xl mb-3 w-full flex items-center font-bold">
        <span class="emoji mr-[2px]">👍</span>
        <span>Timesyでリアクションする</span>
      </h3>
      <p>
        ためになったことや、面白かったことにはリアクションを送ってみましょう。絵文字で気軽にリアクションするのもよし、Markdownで詳しくコメントするのもよしです。
      </p>
    </div>
    <div class="bg-white px-5 py-10  rounded-lg my-5 shadow-sm">
      <h3 class="text-2xl mb-3 w-full flex items-center font-bold">
        <span class="emoji mr-[2px]">👨‍💻</span>
        <span>Timesyに貢献する</span>
      </h3>
      <p>
        TimesyはOSS（オープンソース・ソフトウェア）です。皆さんの考えをどんどんプロダクトに反映させていきたいと思っていますので、ぜひお気軽にコントリビュートしてみてください。
      </p>
      <div class="mt-10 text-center">
        <a
          href="https://github.com/moekidev/timesy"
          target="_blank"
          rel="noopener noreferrer"
          class="bg-sky-500 font-bold text-white py-3 px-5 shadow-sm hover:bg-sky-600 rounded-sm w-auto text-center mt-5">
        GitHubのリポジトリを見る
        </a>
      </div>
    </div>
  </main>
</div>
</div>
