<% set_meta_tags(
  title: 'Documentation',
  og: {
    title: 'Documentation',
  }
) %>


<div class="grow max-w-[calc(100vw-2rem)] md:max-w-[calc(100%-256px-1rem)]">
  <h1 class="font-bold text-3xl mb-5">Documentation</h1>
  <div class="bg-white max-w-3xl mx-auto w-full px-5  py-10 rounded-lg shadow-sm">
    <div class="markdown-body prose">
      <%= @content %>
    </div>
  </div>
</div>
