<div class="grow">
  <h1 class="font-bold text-3xl mb-5">Documentation</h1>
  <div class="bg-white max-w-3xl mx-auto w-full px-5  py-10 rounded-lg shadow-sm">
    <div class="markdown-body prose">
      <%= @content %>
    </div>
  </div>
</div>
