<% set_meta_tags(
  title: I18n.t("pages.docs"),
  og: {
    title: I18n.t("pages.docs"),
  }
) %>


<div class="grow p-4 w-full overflow-visible sm:h-[calc(100vh-55px)] sm:overflow-scroll">
  <h1 class="max-w-3xl mx-auto font-bold text-3xl mb-4"><%= I18n.t("pages.docs") %></h1>
  <div class="max-w-3xl mx-auto w-full py-10 <%= card_class %>">
    <div class="markdown-body">
      <%= @content %>
    </div>
  </div>
</div>
