<% set_meta_tags(
  title: I18n.t("pages.privacy"),
  og: {
    title: I18n.t("pages.privacy"),
  }
) %>

<div class="max-w-2xl mx-auto p-4">
  <div class="max-w-2xl mx-auto w-full <%= card_class %>">
    <h1 class="max-w-2xl mx-auto font-bold text-3xl mb-4"><%= I18n.t("pages.privacy") %></h1>
    <div class="markdown-body">
      <%= @content %>
    </div>
  </div>
</div>
