<% set_meta_tags(
  title: I18n.t("pages.terms"),
  og: {
    title: I18n.t("pages.terms"),
  }
) %>


<div class="max-w-3xl mx-auto p-4">
  <h1 class="max-w-3xl mx-auto font-bold text-3xl mb-4"><%= I18n.t("pages.terms") %></h1>
  <div class="max-w-3xl mx-auto w-full <%= card_class %>">
    <div class="markdown-body">
      <%= @content %>
    </div>
  </div>
</div>

