<% set_meta_tags(
  title: @project.title,
  og: {
    title: @project.title,
  }
) %>

<div class="grow max-w-[calc(100vw-2rem)] md:max-w-[calc(100%-256px-1rem)]">
  <%= render partial: 'projects/form', locals: { project: @project, path: update_project_path(current_user.username, @project.codename), submit_label: I18n.t("form.submit.update"), method: :patch } %>
  <div class="flex">
    <div class="grow"></div>
    <%= button_to I18n.t("form.submit.delete"), project_path(current_user.username, @project.codename), data: { turbo_method: :delete, turbo_confirm: I18n.t("projects.confirm_delete") }, method: :delete, class: "text-red-500 mt-10 text-sm" %>
  </div>
</div>
