<% content_for(:tracking_id, @post.user.google_analytics_tracking_id) %>

<% set_meta_tags(
  title: @post.truncated,
  og: {
    title: "#{Site.title}｜#{@post.truncated}",
    image: ogp_image(@post)
  },
  twitter: {
    image: ogp_image(@post)
  }
) %>

<div class="grow overflow-visible w-full max-w-3xl mx-auto pt-4 px-4 mb-32">
  <%= render partial: "posts/thread", locals: { post: @post, comments: @comments } %>
</div>
