<% set_meta_tags(
  title: @post.truncated,
  og: {
    title: "#{Site.title}｜#{@post.truncated}",
    image: ogp_image(@post)
  },
  twitter: {
    image: ogp_image(@post)
  }
) %>

<div id="thread-container" class="grow overflow-visible max-w-3xl w-full mx-auto pt-4 px-4 mb-32">
  <%= render partial: "posts/thread", locals: { post: @post, comments: @comments } %>
</div>
