<% set_meta_tags(
  title: @post.truncated,
  og: {
    title: "#{Site.title}｜#{@post.truncated}",
    image: "https://res.cloudinary.com/dw1xpb7if/image/upload/l_text:jxfzypcvmrsidywwbv9l.ttf_60:#{@post.truncated.gsub(/#/, CGI.escape("#"))},w_1000,c_fit/v1690718302/edtgre7kuxqhfgitalyh.png"
  },
  twitter: {
    image: "https://res.cloudinary.com/dw1xpb7if/image/upload/l_text:jxfzypcvmrsidywwbv9l.ttf_60:#{@post.truncated.gsub(/#/, CGI.escape("#"))},w_1000,c_fit/v1690718302/edtgre7kuxqhfgitalyh.png"
  }
) %>

<div class="grow overflow-visible w-full max-w-3xl mx-auto pt-4">
  <%= render partial: "posts/thread", locals: { post: @post, comments: @comments } %>
</div>
