<% set_meta_tags(
  title: @post.truncated,
  og: {
    title: "#{Site.title}｜#{@post.truncated}",
    image: ogp_image(@post)
  },
  twitter: {
    image: ogp_image(@post)
  }
) %>

<div class="grow overflow-visible w-full max-w-2xl mx-auto pt-4 px-4">
  <%= render partial: "posts/thread", locals: { post: @post, comments: @comments } %>
</div>
