.cell {
  outline: 1px solid #fefefe;
}

.dark .cell {
  outline: 1px solid #333;
}

.cell-0 {
  background-color: white;
}

.cell-1 {
  background-color: #CAEBFB;
}

.cell-2 {
  background-color: #86CDF1;
}

.cell-3 {
  background-color: #59BBEC;
}

.cell-4 {
  background-color: #2184B6;
}

.cell-5 {
  background-color: #175777;
}
