
body {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: "#333";
  background-color: rgb(246, 248, 250);
} 

body.dark .CodeMirror {
  background-color: rgb(30, 39, 50) !important;
  color: #eee !important;
}

body.dark .CodeMirror-cursor {
  border-color:#fff !important;
}

body.dark {
  background-color: rgb(21, 32, 43);
  color: #ddd;
}

body.dark img.icon {
  filter: invert(1);
}

body.dark .markdown-body {
  background-color: rgb(30 39 50) !important;
}

.dark .markdown-body {
  color: #ddd !important;
}

.CodeRay span {
  background-color: hsla(0,0%,0%,0) !important
}

.markdown-body {
  font-size: 15px !important;
}

.emoji {
  font-family: 'Noto Color Emoji' !important;
}

.cm-formatting-header, .cm-header {
  font-size: 1rem !important;
}

.markdown-body ul {
  list-style: disc;
  padding-left: 2rem;
}

.markdown-body ol {
  list-style: decimal;
  padding-left: 2rem;
}

.EasyMDEContainer .CodeMirror {
  border: none !important;
}

.hljs {
  padding: 0 !important;
}

.markdown-body img {
  border-radius: 10px;
  width: 100% !important;
  max-width: 400px !important;
  margin: 0 auto;
  border: 1px solid #e1e4e8 !important;
}

.CodeMirror * {
  word-break: break-all !important;
}

.markdown-body * {
  word-break: break-all !important;
}

.markdown-body a {
  color: rgb(29, 155, 240);
}

.CodeMirror {
  padding: 0 !important;
}

.emoji img {
  width: 20px !important;
  height: 20px !important;
}

.markdown-body .project-tag {
  color: #0366d6 !important;
}
