<!DOCTYPE html>
<html lang="ja">
  <%= render partial: "shared/head" %>

  <body style="background-color: rgb(246, 248, 250);">
    <%= render partial: "shared/header" %>
    <main class="py-5 min-h-screen">
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
