<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div style="background-color: #f9f9f9; min-height: 100vh; padding: 24px">
      <h1 style="text-align: center; width: 100%; font-size: 24px; margin-bottom: 24px; display: inline-block; align-items: center;">
        <%= image_tag "#{Site.origin}/logo.png", alt: Site.title, width: 240, height: 80 %>
      </h1>
      <div style="background-color: white; max-width: 500px; width: 100%; padding: 24px; margin: 0 auto; border-radius: 4px;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
